---
import { getCollection } from "astro:content";
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { SITE, PAGES, SOCIALS } from "@consts";
import { Image } from 'astro:assets';
import kasia from "./kasia-biernat-kluba.png";

const blog = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);

const activitiesAndAppearances = 
  Object.entries(
    Object.groupBy(
      (await getCollection("activitiesAndAppearances")),
      ({ data }) => data.date.getFullYear()
    )
  ).map(([year, groupItems]) => ({
      year: Number(year),
      activities: groupItems?.map(item => item.data).sort(
        (a, b) => b.date.valueOf() - a.date.valueOf()
      ) ?? []
  }))
  .sort(({ year: yearA }, { year: yearB }) => yearB - yearA);
---

<PageLayout title={PAGES.HOME.TITLE} description={PAGES.HOME.DESCRIPTION}>
  <Container>
    <h1 class="animate font-semibold text-lg text-black dark:text-white">
      Hi, I'm Kasia <span class="text-xl">👋🏻</span>
    </h1>
    <div class="space-y-16">
      <section class="animate flex flex-col md:flex-row items-stretch gap-4" >
        <article class="space-y-4 md:w-3/4 w-full">
          <p>
            I am a software engineer and a web developer. My main area of
            expertise is
            <strong>Angular</strong>, but I also have experience with backend
            technologies, such as <strong>Node.js</strong> and <strong
            >.NET</strong
            >.
          </p>
          <p>
            I am an occasional speaker at tech meetups and conferences. You can
            also find me on
            <Link
            href="https://www.meetup.com/ngkato/"
            aria-label="NgKato on meetup.com"
            external>NgKato</Link
            > meetups that is hosted on regular basis in Katowice, where I am a co-organizer.
          </p>
        </article>

        <div class="relative md:-mt-20 md:w-1/4 w-full max-w-[200px] self-center min-h-[200px]">
          <div class="absolute inset-0 overflow-hidden -mb-10">
            <Image 
            src={kasia} 
            alt="Kasia Biernat-Kluba" 
            class="w-full h-full object-cover object-top mask-fade" 
          />
          </div>
        </div>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h1 class="font-semibold text-black text-lg dark:text-white">Latest posts</h1>
          <Link href="/blog"> See all posts </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {
            blog.map((post) => (
              <li>
                <ArrowCard entry={post} />
              </li>
            ))
          }
        </ul>
      </section>
      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h1 class="font-semibold text-black text-lg dark:text-white">
            Public appearances
          </h1>
          <Link href="/talks"> See all talks </Link>
        </div>

        {
          activitiesAndAppearances.map(({year, activities}) => (
            <h2 class="font-semibold text-black dark:text-white">
              {year}
            </h2>
            <ul class="flex flex-col gap-4 list-disc pl-6">
              {
                activities.map((activity) => (
                  <li>
                    {activity.link && (
                      <Link href={activity.link} external>
                      {activity.name}
                    </Link>
                    ) || (
                      <span>{activity.name}</span>
                    )}
                  </li>
                ))
              }
            </ul>
          ))
        }
      </section>
      <section class="animate space-y-4">
        <h1 class="font-semibold text-lg text-black dark:text-white">Let's Connect</h1>
        <article>
          <p>
            If you want to get in touch with me about something or just to say
            hi, reach out on social media or send me an email.
          </p>
        </article>
        <ul class="flex flex-wrap gap-2">
          {
            SOCIALS.map((SOCIAL) => (
              <li class="flex gap-x-2 text-nowrap">
                <Link
                  href={SOCIAL.HREF}
                  external
                  aria-label={`${SITE.NAME} on ${SOCIAL.NAME}`}
                >
                  {SOCIAL.NAME}
                </Link>
                {"/"}
              </li>
            ))
          }
          <li class="line-clamp-1">
            <Link
              href={`mailto:${SITE.EMAIL}`}
              aria-label={`Email ${SITE.NAME}`}
            >
              {SITE.EMAIL}
            </Link>
          </li>
        </ul>
      </section>
    </div>
  </Container>
</PageLayout>
